*{
    margin: 0;
    padding: 0;
}
html,body{
    background: #fff;
    font-size: 14px;
}
.fll{
    float: left;
}
.flr{
    float:right;
}
.clb{
    clear: both;
}
.main{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background: #009987;
}
.sl-main{
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #000;
    background-color: #6099B7;
    /*padding: 3px;*/
}
.sl-title{
    line-height:30px;
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    height:30px;
}
.sl-box{
    box-sizing: border-box;
    /*border: 1px solid #fff;*/
    position: absolute;
    top: 36px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border-radius: 2px;
    background: #6099B7;
}
.sl-lei{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #182B34;
    position: absolute;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #6099B7;
    text-align: center;
    line-height: 18px;
}
.sl-lei.open{
    background-color: #4983A0;
}
.sl-lei.open.blue{
    color: blue;
}
.sl-lei.open.orange{
    color: orange;
}
.sl-lei.open.red{
    color: red;
}
.sl-lei.open.yellow{
    color: yellow;
}
.sl-lei.flag{
    background-image: url(../images/flag.png);
    background-repeat: no-repeat;
    background-position: center;
}
.sl-lei.thinking{
    background-image: url(../images/thinking.png);
    background-repeat: no-repeat;
    background-position: center;
}