*{
    margin: 0;
    padding: 0;
}
html,body{
    background: #fff;
    font-size: 14px;
}
.fll{
    float: left;
}
.flr{
    float:right;
}
.clb{
    clear: both;
}
.main{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background: #009987;
}
.sl-main{
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #000;
    background-color: #fff;
    padding: 3px;
}
.sl-title{
    height:30px;
    line-height:30px;
}



